PRIVATE_KEY=
GEMINI_API_KEY=your_gemini_key_here
RPC_URL=https://api.mainnet-beta.solana.com
SIMULATION_MODE=true
GEMINI_BUDGET_MODE=true
GEMINI_MAX_REQUESTS_PER_RUN=10
GEMINI_MIN_REQUEST_INTERVAL_MS=0
GEMINI_DAILY_TOKEN_LIMIT=1500
GEMINI_DAILY_TOKEN_RESERVE=50
GEMINI_MAX_OUTPUT_TOKENS=60
GEMINI_BUDGET_TIME_ZONE=Europe/Luxembourg
AI_DECISION_CACHE_MS=21600000
TRADED_TOKEN_COOLDOWN_MS=21600000
AI_MAX_NEW_DECISIONS_PER_SCAN=1
